.color-primary {
  background-color: $primary-blue !important;
  border: $primary-blue !important;
  padding: 1rem 2rem !important;
  text-transform: uppercase;
  letter-spacing: .2rem;

}

.heading-teal {
  color: $primary-teal;
}