.navbar {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: transparent;
  position: absolute;

}

.navbar-toggler {
  height: 6rem;
  width: 6rem;
  border: 1px solid #3bafe0;
}