.navbar {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;

}

.navbar-toggler {
  height: 6rem;
  width: 6rem;
  color: white;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.nav-link {
  color: white !important;
}

.nav-bg-scroll {
  background-color: $primary-blue;
}